<div class="py-8">
  <div class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1 grid-cols-1 lg:mx-30 md:mx-20">
    <div class="col-auto flex justify-center sm:mb-3 mb-3 mx-5">
      <div class="flex items-center sm:w-80 w-80">
        <div class="w-10">
          <i class="fa-solid fa-phone" style="font-size: 40px; color: rgb(179, 30, 30)"></i>
        </div>
        <div class="flex justify-center flex-col px-3">
          <span style="font-size: 18px" class="font-bold">DIRECCIÓN</span>
          <span style="font-size: 12px;">Av. Alfredo Benavides 1967, Miraflores - Lima</span>
        </div>
      </div>
    </div>
    <div class="col-auto flex justify-center items-center sm:mb-3 mb-3 mx-5">
      <div class="flex items-center sm:w-80 w-80">
        <div class="w-10">
          <i class="fa-solid fa-location-dot" style="font-size: 40px; color: rgb(179, 30, 30);"></i>
        </div>
        <div class="flex justify-center flex-col px-3">
          <span style="font-size: 18px" class="font-bold">TELÉFONO</span>
          <span style="font-size: 12px;">994 023 520 | 986 742 307</span>
        </div>
      </div>
    </div>
    <div class="col-auto flex justify-center items-center sm:mb-3 mb-3 mx-5">
      <div class="flex items-center sm:w-80 w-80">
        <div class="w-10">
          <i class="fa-solid fa-clock" style="font-size: 40px; color: rgb(179, 30, 30)"></i>
        </div>
        <div class="flex justify-center flex-col px-3">
          <span style="font-size: 18px" class="font-bold">HORARIO</span>
          <span style="font-size: 12px;">Lunes a Sábado de 9:00 am a 8:30 pm</span>
        </div>
      </div>
    </div>
  </div>
</div>
